<template>
  <div class="dark:bg-zinc-900">
    <router-view id="main-container" />

    <my-footer></my-footer>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import Footer from './components/Footer.vue'

  export default defineComponent({
    components: {
      'my-footer': Footer,
    },

    data() {
      return {
        title: import.meta.env.VITE_TITLE,
      }
    },
  })
</script>
