<template>
  <div class="container mx-auto py-12 px-4">
    <my-header :index-name="indexName" :small-format="searchDone"></my-header>
    <div class="header-left-logo">
      <img src="/img/mobilizon-logo.svg" alt="" />
    </div>

    <main>
      <form
        id="search-anchor"
        class="flex flex-wrap items-center justify-center gap-2 text-center dark:text-slate-100"
        role="search"
        @submit.prevent="doNewSearch"
      >
        <input
          id="searchMainField"
          v-model="formSearch"
          :placeholder="
            $gettext('Keyword, event title, group name, posts, etc.')
          "
          autofocus
          type="text"
          name="search"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          maxlength="1024"
          class="flex-1 w-full max-w-lg dark:bg-zinc-900"
        />

        <label v-translate for="searchMainField" class="sr-only"
          >Your search</label
        >

        <button
          class="inline-flex bg-black text-white flex-initial px-4 py-2 justify-center"
          type="submit"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>

          <translate v-if="formSearch">Go!</translate>
          <translate v-else>Explore!</translate>
        </button>
      </form>

      <h3
        v-if="!searchDone"
        v-translate="{
          instancesCount: instancesCount,
          indexName: indexName,
          tagStart: searchInstancesTagStart,
          tagEnd: searchInstancesTagEnd,
        }"
        render-html="true"
        :translate-n="instancesCount"
        translate-plural="Search for your favorite events and groups on %{tagStart}%{instancesCount} Mobilizon websites{%tagEnd%} indexed by %{indexName}!"
        :class="{ hidden: !instancesCount }"
        class="text-center max-w-lg mt-6 mb-12 mx-auto dark:text-zinc-300"
      >
        Search for your favorite events and groups on %{tagStart}one Mobilizon
        website%{tagEnd} indexed by %{indexName}!
      </h3>

      <search-warning
        class="search-warning"
        :index-name="indexName"
        :highlight="true"
      />
    </main>
  </div>
</template>
<script lang="ts">
  import { defineComponent } from 'vue'
  import { getConfig } from '@/shared/config'
  import Header from '../components/Header.vue'
  import SearchWarning from '../components/SearchWarning.vue'
  import { SearchUrl } from '@/models'
  import { LocationQuery } from 'vue-router'

  export default defineComponent({
    components: {
      'my-header': Header,
      SearchWarning,
    },
    data() {
      return {
        searchDone: false,

        indexName: '',
        instancesCount: 0,
        indexedInstancesUrl: '',

        resultsCount: null as number,
        groupsCount: null as number,
        eventsCount: null as number,
        postsCount: null as number,

        currentPage: 1,
        pages: [],
        resultsPerEventsPage: 10,
        resultsPerGroupPage: 3,
        resultsPerPostsPage: 3,

        displayFilters: false,
        oldQuery: '',

        formSearch: '',
        formSort: '-match',

        formNSFW: undefined,
        formHost: '',
        formPublishedDateRange: undefined,
        formEventStartDate: undefined,
        formCategoryOneOf: undefined,
        formLicenceOneOf: undefined,
        formLanguageOneOf: undefined,

        formTagAllOf: '',
        formTagOneOf: '',
        formTagsAllOf: [],
        formTagsOneOf: [],

        formContentType: 'ALL',

        activeFilters: 0,
        searchInstancesTagEnd: '</a>',
      }
    },
    computed: {
      searchInstancesTagStart(): string {
        return `<a class="underline" href="${this.indexedInstancesUrl}" target="_blank">`
      },
      currentLocale(): string {
        return this.$gettext.current
      },
    },
    async mounted() {
      const config = await getConfig()

      this.instancesCount = config.indexedHostsCount
      this.indexedInstancesUrl = config.indexedInstancesUrl
      this.indexName = config.searchInstanceName
    },
    methods: {
      doNewSearch() {
        this.currentPage = 1
        this.groupsCount = null
        this.eventsCount = null
        this.postsCount = null
        this.resultsCount = null

        this.updateUrl()
      },
      updateUrl() {
        const query: SearchUrl = {
          search: this.formSearch,
          sort: this.formSort,
          nsfw: this.formNSFW,
          host: this.formHost,
          publishedDateRange: this.formPublishedDateRange,
          eventStartDateRange: this.formEventStartDate,
          contentType: this.formContentType,
          categoryOneOf: this.formCategoryOneOf,
          licenceOneOf: this.formLicenceOneOf,
          languageOneOf: this.formLanguageOneOf,
          tagsAllOf: this.formTagsAllOf.map((t) => t.text),
          tagsOneOf: this.formTagsOneOf.map((t) => t.text),
          page: this.currentPage,
        }

        this.$router.push({
          ...this.$route,
          name: 'SEARCH',
          query: query as LocationQuery,
        })
      },
    },
  })
</script>
