<template>
  <div>
    <my-header :index-name="indexName" :small-format="true"></my-header>

    <form
      id="search-anchor"
      class="mx-2 md:mx-80 flex flex-wrap gap-2 text-center items-center justify-center dark:text-slate-100"
      role="search"
      @submit.prevent="doNewSearch"
    >
      <div class="flex-auto max-w-lg relative mt-1">
        <label for="searchMainField" class="sr-only">
          {{ $gettext('Your search') }}</label
        >
        <div
          class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none"
        >
          <svg
            aria-hidden="true"
            width="24"
            height="24"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.5 15.5L19 19"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <input
          id="searchMainField"
          v-model="formSearch"
          :placeholder="$gettext('Keyword, event title, group name, etc.')"
          autofocus
          type="text"
          name="search"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          maxlength="1024"
          class="dark:bg-zinc-900 min-w-max md:max-w-lg bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>

      <location-autocomplete
        :search="findLocation"
        v-model="formLocationData.name"
        @submit="(location) => (formLocationData = location)"
        :placeholder="$gettext('Location')"
        :getResultValue="(result) => result.name"
      />

      <button
        class="inline-flex bg-black text-white px-4 py-2 justify-center flex-auto md:max-w-fit"
        type="submit"
      >
        <svg
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>

        <translate v-if="formSearch">Go!</translate>
        <translate v-else>Explore!</translate>
      </button>
    </form>

    <div class="container mx-auto md:py-12 px-4 flex gap-5">
      <aside
        class="flex-none hidden lg:block sticky top-8 rounded-md w-80 h-screen flex-col justify-between mt-12 pb-10 px-8 overflow-y-auto dark:text-slate-100"
      >
        <form @submit.prevent="doNewSearch">
          <p class="sr-only">Type</p>
          <ul
            class="font-medium text-gray-900 dark:text-slate-100 space-y-4 pb-6 border-b border-gray-200"
          >
            <li
              v-for="content in contentTypeMapping"
              :key="content.contentType"
              class="flex gap-2"
            >
              <svg
                aria-hidden="true"
                v-if="content.contentType === 'ALL'"
                width="24"
                height="24"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15.5 15.5L19 19"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                aria-hidden="true"
                v-if="content.contentType === 'EVENTS'"
                width="24"
                height="24"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M15 4V2M15 4V6M15 4H10.5M3 10V19C3 20.1046 3.89543 21 5 21H19C20.1046 21 21 20.1046 21 19V10H3Z"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3 10V6C3 4.89543 3.89543 4 5 4H7"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M7 2V6"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M21 10V6C21 4.89543 20.1046 4 19 4H18.5"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <svg
                aria-hidden="true"
                v-if="content.contentType === 'GROUPS'"
                width="24"
                height="24"
                stroke-width="1.5"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1 20V19C1 15.134 4.13401 12 8 12V12C11.866 12 15 15.134 15 19V20"
                  stroke="currentColor"
                  stroke-linecap="round"
                />
                <path
                  d="M13 14V14C13 11.2386 15.2386 9 18 9V9C20.7614 9 23 11.2386 23 14V14.5"
                  stroke="currentColor"
                  stroke-linecap="round"
                />
                <path
                  d="M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12Z"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 9C19.6569 9 21 7.65685 21 6C21 4.34315 19.6569 3 18 3C16.3431 3 15 4.34315 15 6C15 7.65685 16.3431 9 18 9Z"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <router-link
                :to="{
                  ...$route,
                  query: { ...$route.query, contentType: content.contentType },
                }"
              >
                {{ content.label }}
              </router-link>
            </li>
          </ul>

          <div class="py-4 border-b border-gray-200">
            <label
              for="toggle-example"
              class="flex relative items-center cursor-pointer"
            >
              <input type="checkbox" id="toggle-example" class="sr-only" />
              <span
                class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600"
              ></span>
              <span
                class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                >{{ $gettext('Online events') }}</span
              >
            </label>
          </div>

          <filter-section
            v-model:opened="searchFilterSectionsOpenStatus.eventDate"
            :title="$gettext('Event date')"
          >
            <template #options>
              <fieldset class="flex flex-col">
                <legend class="sr-only">{{ $gettext('Event date') }}</legend>
                <div
                  v-for="eventStartDateRange in eventStartDateRanges"
                  :key="eventStartDateRange.id"
                >
                  <input
                    :id="eventStartDateRange.id"
                    v-model="formEventStartDate"
                    type="radio"
                    name="eventStartDateRange"
                    :value="eventStartDateRange.id"
                    class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    :for="eventStartDateRange.id"
                    class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >{{ eventStartDateRange.label }}</label
                  >
                </div>
              </fieldset>
            </template>
          </filter-section>

          <filter-section
            v-model:opened="searchFilterSectionsOpenStatus.eventDistance"
            :title="$gettext('Distance')"
          >
            <template #options>
              <fieldset class="flex flex-col">
                <legend class="sr-only">{{ $gettext('Distance') }}</legend>
                <div v-for="distance in eventDistance" :key="distance.id">
                  <input
                    :id="distance.id"
                    v-model="formEventDistance"
                    type="radio"
                    name="eventDistance"
                    :value="distance.id"
                    class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    :for="distance.id"
                    class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >{{ distance.label }}</label
                  >
                </div>
              </fieldset>
            </template>
          </filter-section>

          <filter-section
            v-model:opened="searchFilterSectionsOpenStatus.eventCategory"
            :title="$gettext('Category')"
          >
            <template #options>
              <fieldset class="flex flex-col">
                <legend class="sr-only">{{ $gettext('Category') }}</legend>
                <div v-for="category in eventCategories" :key="category.id">
                  <input
                    :id="category.id"
                    v-model="formEventCategory"
                    type="radio"
                    name="category"
                    :value="category.id"
                    class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    :for="category.id"
                    class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >{{ category.label }}</label
                  >
                </div>
              </fieldset>
            </template>
          </filter-section>

          <filter-section
            v-model:opened="searchFilterSectionsOpenStatus.eventLanguage"
            :title="$gettext('Language')"
          >
            <template #options>
              <fieldset class="flex flex-col">
                <legend class="sr-only">{{ $gettext('Language') }}</legend>
                <div v-for="language in eventLanguages" :key="language.id">
                  <input
                    :id="language.id"
                    type="checkbox"
                    name="eventStartDateRange"
                    :value="language.id"
                    class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    :for="language.id"
                    class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >{{ language.label }}</label
                  >
                </div>
              </fieldset>
            </template>
          </filter-section>

          <!--          <div class="">-->
          <!--            <label class="font-bold" for="language">{{-->
          <!--              $gettext('Language')-->
          <!--            }}</label>-->
          <!--            <button-->
          <!--              v-if="formLanguageOneOf !== undefined"-->
          <!--              @click="resetField('languageOneOf')"-->
          <!--            >-->
          <!--              {{ $gettext('Reset') }}-->
          <!--            </button>-->

          <!--            <div class="">-->
          <!--              <select-->
          <!--                id="language"-->
          <!--                v-model="formLanguageOneOf"-->
          <!--                name="language"-->
          <!--                class="dark:text-black md:max-w-fit w-full"-->
          <!--              >-->
          <!--                <option v-translate :value="undefined">-->
          <!--                  Display all languages-->
          <!--                </option>-->
          <!--                <option-->
          <!--                  v-for="language in eventLanguages"-->
          <!--                  :key="language.id"-->
          <!--                  :value="language.id"-->
          <!--                >-->
          <!--                  {{ language.label }}-->
          <!--                </option>-->
          <!--              </select>-->
          <!--            </div>-->
          <!--          </div>-->

          <!--

            <div class="">
              <label v-translate class="font-bold" for="host">Mobilizon instance</label>

              <input
                id="host"
                v-model="formHost"
                type="text"
                name="host"
                placeholder="mobilizon.fr"
                class="dark:text-black md:max-w-fit w-full"
              />
            </div>

            <div class="">
              <label v-translate class="inline font-bold" for="tagsAllOf">All of these tags</label>
              <button
                v-if="formTagsAllOf.length !== 0"
                v-translate
                class="text-sm ml-2"
                @click="resetField('tagsAllOf')"
              >
                Reset
              </button>

              <vue-tags-input
                v-model="formTagAllOf"
                :placeholder="tagsPlaceholder"
                :tags="formTagsAllOf"
                @tags-changed="(newTags) => (formTagsAllOf = newTags)"
              />
            </div>

            <div>
              <div>
                <label v-translate class="inline font-bold" for="tagsOneOf">One of these tags</label>
                <button
                  v-if="formTagsOneOf.length !== 0"
                  v-translate
                  class="text-sm ml-2"
                  @click="resetField('tagsOneOf')"
                >
                  Reset
                </button>
              </div>

              <vue-tags-input
                v-model="formTagOneOf"
                :placeholder="tagsPlaceholder"
                :tags="formTagsOneOf"
                @tags-changed="(newTags) => (formTagsOneOf = newTags)"
              />
            </div>-->
          <div class="sr-only">
            <button
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="submit"
            >
              {{ $gettext('Apply filters') }}
            </button>
          </div>
        </form>
      </aside>

      <main class="flex-1">
        <search-warning
          class="search-warning"
          :index-name="indexName"
          :highlight="false"
        />

        <div>
          <div class="dark:text-slate-100">
            <div class="flex justify-between items-baseline">
              <div
                id="results-anchor"
                class="hidden sm:block dark:text-slate-100"
              >
                <span v-if="resultsCount === 0">
                  <translate v-if="formContentType === 'EVENTS'"
                    >No events found</translate
                  >
                  <translate v-else-if="formContentType === 'GROUPS'"
                    >No groups found</translate
                  >
                  <translate v-else>No results found</translate>
                </span>
                <span v-if="resultsCount">
                  <translate
                    v-if="formContentType === 'EVENTS'"
                    :translate-n="eventsCount"
                    translate-plural="%{eventsCount} events found"
                    >One event found</translate
                  >
                  <translate
                    v-else-if="formContentType === 'GROUPS'"
                    :translate-n="groupsCount"
                    translate-plural="%{groupsCount} groups found"
                    >One group found</translate
                  >
                  <translate
                    v-else
                    :translate-n="resultsCount"
                    translate-plural="%{resultsCount} results found"
                    >One result found</translate
                  >
                </span>
              </div>

              <div class="inline">
                <label class="inline" for="sort">{{
                  $gettext('Sort by')
                }}</label>
                <div class="inline ml-2 dark:text-black">
                  <select id="sort" v-model="formSort" name="sort">
                    <option value="-match" :selected="formSort === '-match'">
                      {{ $gettext('Best match') }}
                    </option>
                    <option
                      value="-beginsOn"
                      :selected="formSort === '-beginsOn'"
                    >
                      {{ $gettext('Event date') }}
                    </option>
                    <option
                      value="-createdAt"
                      :selected="formSort === '-createdAt'"
                    >
                      {{ $gettext('Most recently published') }}
                    </option>
                    <option
                      value="createdAt"
                      :selected="formSort === 'createdAt'"
                    >
                      {{ $gettext('Least recently published') }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div v-if="results.length > 0">
            <div v-for="result in results" :key="getResultKey(result)">
              <event-result
                v-if="isEvent(result)"
                :event="result"
              ></event-result>

              <group-result
                v-else-if="isGroup(result)"
                :group="result"
              ></group-result>

              <post-result v-else :post="result"></post-result>
            </div>
          </div>
          <div
            v-else
            class="dark:text-slate-100 my-80 text-center flex flex-col items-center justify-center"
          >
            <p v-if="formContentType === 'EVENTS'">
              {{ $gettext('No event found') }}
            </p>
            <p v-else-if="formContentType === 'GROUPS'">
              {{ $gettext('No group found') }}
            </p>
            <p v-else>{{ $gettext('No event or group found') }}</p>
            <p v-if="activeFiltersCount">
              {{ $gettext('Try to reset some filters to see more events') }}
            </p>
          </div>

          <pagination
            v-if="searchDone && maxPage > currentPage"
            class="text-center flex items-center justify-center gap-x-2"
            :current-page="currentPage"
            :max-page="maxPage"
            :pages="pages"
          ></pagination>
        </div>
      </main>
    </div>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import Header from '../components/Header.vue'
  import SearchWarning from '../components/SearchWarning.vue'
  import EventResult from '../components/EventResult.vue'
  import GroupResult from '../components/GroupResult.vue'
  import PostResult from '../components/PostResult.vue'
  import FilterSection from '../components/filters/FilterSection.vue'
  import LocationAutocomplete from '../components/search/LocationAutocomplete.vue'
  import { searchEvents, searchGroups, searchLocations } from '@/shared/search'
  import { getConfig } from '@/shared/config'
  import {
    pageToAPIParams,
    startDateRangeToAPIParams,
    publishedDateRangeToAPIParams,
    extractTagsFromQuery,
  } from '@/shared/utils'
  import { SearchUrl } from '@/models'
  import { EnhancedEvent } from '../../../server/types/event.model'
  import { EnhancedGroup } from '../../../server/types/group.model'
  // import VueTagsInput from '@sipec/vue3-tags-input'
  import Pagination from '../components/Pagination.vue'
  import Nprogress from 'nprogress'
  import { EnhancedPost } from '../../../server/types/post.model'
  import { EventsSearchQuery } from '../../../server/types/search-query/event-search.model'
  import { ResultList } from '../../../server/types/search-query/common-search.model'
  import { GroupsSearchQuery } from '../../../server/types/search-query/group-search.model'
  import { LocationQuery } from 'vue-router'
  import { AutoCompleteLocation } from '../../../server/types/address.model'

  export default defineComponent({
    components: {
      'my-header': Header,
      SearchWarning,
      EventResult,
      GroupResult,
      PostResult,
      // VueTagsInput,
      Pagination,
      FilterSection,
      LocationAutocomplete,
    },

    data() {
      return {
        searchDone: false,

        indexName: '',
        instancesCount: 0,
        indexedInstancesUrl: '',
        results: [] as (EnhancedEvent | EnhancedGroup | EnhancedPost)[],

        resultsCount: null as number,
        groupsCount: null as number,
        eventsCount: null as number,
        postsCount: null as number,

        currentPage: 1,
        pages: [],
        resultsPerEventsPage: 30,
        resultsPerGroupPage: 10,
        resultsPerPostsPage: 0,

        displayFilters: false,
        oldQuery: '',

        formSearch: '',
        formLocationData: {
          location: { lon: undefined, lat: undefined },
          name: undefined,
        } as AutoCompleteLocation,
        formSort: '-match',

        formNSFW: undefined,
        formHost: '',
        formPublishedDateRange: undefined,
        formEventStartDate: undefined,
        formEventDistance: '10_km',
        formCategoryOneOf: undefined,
        formLicenceOneOf: undefined,
        formLanguageOneOf: undefined,

        formTagAllOf: '',
        formTagOneOf: '',
        formTagsAllOf: [],
        formTagsOneOf: [],

        formContentType: 'ALL',
        formEventCategory: undefined,

        activeFilters: 0,
        searchInstancesTagEnd: '</a>',
        searchFilterSectionsOpenStatus: {
          eventDate: true,
          eventLanguage: false,
          eventCategory: false,
          eventDistance: false,
        },
      }
    },

    computed: {
      // tagsPlaceholder(): string {
      //   return this.$gettext('Add tag')
      // },
      contentTypeMapping(): { contentType: string; label: string }[] {
        return [
          {
            contentType: 'ALL',
            label: this.$gettext('Everything'),
          },
          {
            contentType: 'EVENTS',
            label: this.$gettext('Events'),
          },
          {
            contentType: 'GROUPS',
            label: this.$gettext('Groups'),
          },
        ]
      },

      eventCategories(): { id: string; label: string }[] {
        return [
          {
            id: 'arts',
            label: this.$gettext('Arts'),
          },
          {
            id: 'book_clubs',
            label: this.$gettext('Book Clubs'),
          },
          {
            id: 'business',
            label: this.$gettext('Business'),
          },
          {
            id: 'causes',
            label: this.$gettext('Causes'),
          },
          {
            id: 'comedy',
            label: this.$gettext('Comedy'),
          },
          {
            id: 'crafts',
            label: this.$gettext('Crafts'),
          },
          {
            id: 'food_drink',
            label: this.$gettext('Food & Drink'),
          },
          {
            id: 'health',
            label: this.$gettext('Health'),
          },
          {
            id: 'music',
            label: this.$gettext('Music'),
          },
          {
            id: 'auto_boat_air',
            label: this.$gettext('Auto, Boat & Air'),
          },
          {
            id: 'community',
            label: this.$gettext('Community'),
          },
          {
            id: 'family_education',
            label: this.$gettext('Family & Education'),
          },
          {
            id: 'fashion_beauty',
            label: this.$gettext('Fashion & Beauty'),
          },
          {
            id: 'film_media',
            label: this.$gettext('Film & Media'),
          },
          {
            id: 'games',
            label: this.$gettext('Games'),
          },
        ].sort(({ label: label1 }, { label: label2 }) =>
          label1.localeCompare(label2)
        )
      },

      eventStartDateRanges(): { id: string; label: string }[] {
        return [
          {
            id: 'any_date',
            label: this.$gettext('Any'),
          },
          {
            id: 'past',
            label: this.$gettext('In the past'),
          },
          {
            id: 'future',
            label: this.$gettext('In the future'),
          },
          {
            id: 'today',
            label: this.$gettext('Today'),
          },
          {
            id: 'tomorrow',
            label: this.$gettext('Tomorrow'),
          },
          {
            id: 'week_end',
            label: this.$gettext('This weekend'),
          },
          {
            id: 'week',
            label: this.$gettext('This week'),
          },
          {
            id: 'next_week',
            label: this.$gettext('Next week'),
          },
          {
            id: 'month',
            label: this.$gettext('This month'),
          },
          {
            id: 'next_month',
            label: this.$gettext('Next month'),
          },
        ]
      },

      eventDistance(): { id: string; label: string }[] {
        return [
          {
            id: 'anywhere',
            label: this.$gettext('Any distance'),
          },
          {
            id: '5_km',
            label: this.$ngettext('one kilometer', '%{number} kilometers', 5, {
              number: 5,
            }),
          },
          {
            id: '10_km',
            label: this.$ngettext('one kilometer', '%{number} kilometers', 10, {
              number: 10,
            }),
          },
          {
            id: '25_km',
            label: this.$ngettext('one kilometer', '%{number} kilometers', 25, {
              number: 25,
            }),
          },
          {
            id: '50_km',
            label: this.$ngettext('one kilometer', '%{number} kilometers', 50, {
              number: 50,
            }),
          },
          {
            id: '100_km',
            label: this.$ngettext(
              'one kilometer',
              '%{number} kilometers',
              100,
              { number: 100 }
            ),
          },
          {
            id: '150_km',
            label: this.$ngettext(
              'one kilometer',
              '%{number} kilometers',
              150,
              { number: 150 }
            ),
          },
        ]
      },

      eventLanguages(): { id: string; label: string }[] {
        return [
          { id: 'en', label: this.$gettext('English') },
          { id: 'fr', label: this.$gettext('Français') },
          { id: 'ja', label: this.$gettext('日本語') },
          { id: 'eu', label: this.$gettext('Euskara') },
          { id: 'ca', label: this.$gettext('Català') },
          { id: 'cs', label: this.$gettext('Čeština') },
          { id: 'eo', label: this.$gettext('Esperanto') },
          { id: 'el', label: this.$gettext('ελληνικά') },
          { id: 'de', label: this.$gettext('Deutsch') },
          { id: 'it', label: this.$gettext('Italiano') },
          { id: 'nl', label: this.$gettext('Nederlands') },
          { id: 'es', label: this.$gettext('Español') },
          { id: 'oc', label: this.$gettext('Occitan') },
          { id: 'gd', label: this.$gettext('Gàidhlig') },
          { id: 'zh', label: this.$gettext('简体中文（中国）') },
          { id: 'pt', label: this.$gettext('Português (Portugal)') },
          { id: 'sv', label: this.$gettext('svenska') },
          { id: 'pl', label: this.$gettext('Polski') },
          { id: 'fi', label: this.$gettext('suomi') },
          { id: 'ru', label: this.$gettext('русский') },
        ]
      },

      boostLanguagesQuery(): string[] {
        const languages = new Set<string>()

        for (const completeLanguage of navigator.languages) {
          const language = completeLanguage.split('-')[0]

          if (this.eventLanguages.find((vl) => vl.id === language)) {
            languages.add(language)
          }
        }

        return Array.from(languages)
      },
      maxPage(): number {
        // Limit to 10 pages
        return Math.min(
          10,
          Math.max(this.postsMaxPage, this.groupsMaxPage, this.eventsMaxPage)
        )
      },

      hasStillGroupsResult(): boolean {
        // Not searched yet
        if (this.groupsCount === null) return true

        return this.groupsMaxPage >= this.currentPage
      },

      hasStillMoreEventsResults(): boolean {
        // Not searched yet
        if (this.eventsCount === null) return true

        return this.eventsMaxPage >= this.currentPage
      },

      groupsMaxPage(): number {
        return Math.ceil(this.groupsCount / this.resultsPerGroupPage)
      },

      postsMaxPage(): number {
        return Math.ceil(this.postsCount / this.resultsPerPostsPage)
      },

      eventsMaxPage(): number {
        return Math.ceil(this.eventsCount / this.resultsPerEventsPage)
      },
      activeFiltersCount(): number {
        let count = 0

        if (this.formNSFW) count++
        if (this.formHost) count++
        if (this.formPublishedDateRange) count++
        if (this.formContentType !== 'ALL') count++
        if (this.formEventStartDate !== 'future') count++
        if (this.formEventDistance !== '10_km') count++
        if (this.formCategoryOneOf) count++
        if (this.formLicenceOneOf) count++
        if (this.formLanguageOneOf) count++
        if (this.formTagsAllOf && this.formTagsAllOf.length !== 0) count++
        if (this.formTagsOneOf && this.formTagsOneOf.length !== 0) count++

        return count
      },

      isGroupOrPostSearchDisabled(): boolean {
        // We can search against host for posts and groups
        if (this.formHost || this.formContentType)
          return this.activeFiltersCount > 1

        return this.activeFiltersCount > 0
      },
      searchInstancesTagStart(): string {
        return `<a class="underline" href="${this.indexedInstancesUrl}" target="_blank">`
      },
    },

    watch: {
      formSort() {
        this.updateUrl()
      },
    },
    beforeRouteUpdate(to, from) {
      console.debug('route change')
      const urlPage = this.$route.query.page as string

      const scrollToResults =
          urlPage && parseInt(urlPage) !== this.currentPage

      console.log('from', from.query)
      console.log('to', to.query)
      this.loadUrl(to.query as SearchUrl)
      this.doSearch()
      if (scrollToResults) this.scrollToResults()
    },

    async mounted() {
      const config = await getConfig()

      this.instancesCount = config.indexedHostsCount
      this.indexedInstancesUrl = config.indexedInstancesUrl
      this.indexName = config.searchInstanceName

      if (Object.keys(this.$route.query).length !== 0) {
        // Speed up search done variable if the user came directly with a query
        // So it does not see the homepage for a few ms
        this.searchDone = true
        this.loadUrl(this.$route.query as SearchUrl)
        await this.doSearch()
      }
    },

    methods: {
      doNewSearch() {
        this.currentPage = 1
        this.groupsCount = null
        this.eventsCount = null
        this.postsCount = null
        this.resultsCount = null

        this.updateUrl()
      },

      async doSearch() {
        console.debug('Do search', this.formContentType)
        // First search, scroll to top
        if (this.searchDone !== true) this.scrollToTop()

        Nprogress.start()

        try {
          const [eventsResult, groupsResult] = await Promise.all([
            this.searchEvents(),
            this.searchGroups(),
          ])

          Nprogress.done()

          this.activeFilters = this.activeFiltersCount

          this.groupsCount = groupsResult.total
          this.eventsCount = eventsResult.total
          this.results = []
          console.debug('emptied results', this.results)

          switch (this.formContentType) {
            case 'EVENTS':
              this.resultsCount = eventsResult.total
              this.results = eventsResult.data
              break
            case 'GROUPS':
              this.resultsCount = groupsResult.total
              this.results = groupsResult.data
              break
            default:
              this.resultsCount = eventsResult.total + groupsResult.total
              this.results = [...groupsResult.data, ...eventsResult.data]
              break
          }
          console.debug('filled results', this.results)

          if (this.formSort === '-match') {
            this.results.sort((r1, r2) => {
              if (r1.score < r2.score) return 1
              else if (r1.score === r2.score) return 0

              return -1
            })
          }

          this.buildPages()
          this.searchDone = true
        } catch (err) {
          console.error('Cannot do search.', err)
        } finally {
          Nprogress.done()
        }
      },

      isEvent(result: EnhancedEvent | EnhancedGroup | EnhancedPost) {
        return !!(result as EnhancedEvent).startTime
      },

      isGroup(result: EnhancedEvent | EnhancedGroup | EnhancedPost) {
        return (result as EnhancedGroup).displayName !== undefined
      },

      getResultKey(result: EnhancedEvent | EnhancedGroup | EnhancedPost) {
        if (this.isEvent(result)) return (result as EnhancedEvent).uuid
        if (this.isGroup(result))
          return result.id + (result as EnhancedGroup).id

        throw new Error('Unknown result')
      },

      updateUrl() {
        const query: SearchUrl = {
          search: this.formSearch,
          sort: this.formSort,
          nsfw: this.formNSFW,
          host: this.formHost,
          publishedDateRange: this.formPublishedDateRange,
          eventStartDateRange: this.formEventStartDate,
          locationName: this.formLocationData?.name,
          latlon: this.formLocationData?.location?.lat
            ? `${this.formLocationData?.location?.lat}:${this.formLocationData?.location?.lon}`
            : undefined,
          distance: this.formEventDistance,
          contentType: this.formContentType,
          categoryOneOf: this.formCategoryOneOf,
          licenceOneOf: this.formLicenceOneOf,
          languageOneOf: this.formLanguageOneOf,
          tagsAllOf: this.formTagsAllOf.map((t) => t.text),
          tagsOneOf: this.formTagsOneOf.map((t) => t.text),
          page: this.currentPage,
        }

        this.$router.push({ query: query as LocationQuery })
      },

      loadUrl(query: SearchUrl) {
        if (query.search) this.formSearch = query.search
        else this.formSearch = undefined

        if (query.nsfw) this.formNSFW = query.nsfw
        else this.formNSFW = undefined

        if (query.publishedDateRange)
          this.formPublishedDateRange = query.publishedDateRange
        else this.formPublishedDateRange = undefined

        if (query.eventStartDateRange)
          this.formEventStartDate = query.eventStartDateRange
        else this.formEventStartDate = 'future'

        if (query.contentType) {
          console.log('update content type', query.contentType)
          this.formContentType = query.contentType
        } else {
          this.formContentType = 'ALL'
        }

        if (query.latlon) {
          const [lat, lon] = query.latlon.split(':')
          this.formLocationData.location.lat = parseFloat(lat)
          this.formLocationData.location.lon = parseFloat(lon)
        }
        if (query.locationName) {
          this.formLocationData.name = query.locationName
        }
        if (query.distance) {
          this.formEventDistance = query.distance
        }

        if (query.categoryOneOf) this.formCategoryOneOf = query.categoryOneOf
        else this.formCategoryOneOf = undefined

        if (query.licenceOneOf) this.formLicenceOneOf = query.licenceOneOf
        else this.formLicenceOneOf = undefined

        if (query.languageOneOf) this.formLanguageOneOf = query.languageOneOf
        else this.formLanguageOneOf = undefined

        if (query.tagsAllOf)
          this.formTagsAllOf = extractTagsFromQuery(query.tagsAllOf)
        else this.formTagsAllOf = []

        if (query.tagsOneOf)
          this.formTagsOneOf = extractTagsFromQuery(query.tagsOneOf)
        else this.formTagsOneOf = []

        if (query.sort) this.formSort = query.sort
        else this.formSort = '-match'

        if (query.host) this.formHost = query.host
        else this.formHost = ''

        if (query.page && this.currentPage !== query.page) {
          this.currentPage = parseInt(query.page + '')
        } else {
          this.currentPage = 1
        }
      },

      buildEventSearchQuery() {
        const { start, count } = pageToAPIParams(
          this.currentPage,
          this.resultsPerEventsPage
        )
        const { startDateMin, startDateMax } = startDateRangeToAPIParams(
          this.formEventStartDate,
          this.$dateFnsLocale
        )
        const { startDate, endDate } = publishedDateRangeToAPIParams(
          this.formPublishedDateRange
        )

        const boostLanguages = this.boostLanguagesQuery

        const latitude = this.formLocationData?.location?.lat
        const longitude = this.formLocationData?.location?.lon

        return {
          search: this.formSearch,

          startDateMin,
          startDateMax,

          startDate,
          endDate,

          boostLanguages,

          nsfw: this.formNSFW || false,

          categoryOneOf: this.formCategoryOneOf
            ? [this.formCategoryOneOf]
            : undefined,
          licenceOneOf: this.formLicenceOneOf
            ? [this.formLicenceOneOf]
            : undefined,
          languageOneOf: this.formLanguageOneOf
            ? [this.formLanguageOneOf]
            : undefined,

          tagsOneOf: this.formTagsOneOf.map((t) => t.text),
          tagsAllOf: this.formTagsAllOf.map((t) => t.text),

          host: this.formHost || undefined,

          latlon:
            latitude && longitude ? `${latitude}:${longitude}` : undefined,
          distance: this.formEventDistance,

          start,
          count,
          sort: this.formSort,
        } as EventsSearchQuery
      },

      buildGroupSearchQuery() {
        const { start, count } = pageToAPIParams(
          this.currentPage,
          this.resultsPerGroupPage
        )

        const latitude = this.formLocationData?.location?.lat
        const longitude = this.formLocationData?.location?.lon

        return {
          search: this.formSearch,
          host: this.formHost || undefined,
          latlon:
            latitude && longitude ? `${latitude}:${longitude}` : undefined,
          distance: this.formEventDistance,
          start,
          sort: this.formSort,
          count,
        } as GroupsSearchQuery
      },

      searchEvents(): Promise<ResultList<EnhancedEvent>> {
        if (!this.hasStillMoreEventsResults) {
          console.debug('No more event results')
          return Promise.resolve({ data: [], total: this.eventsCount })
        }

        const query = this.buildEventSearchQuery()

        return searchEvents(query)
      },

      searchGroups(): Promise<ResultList<EnhancedGroup>> {
        if (this.isGroupOrPostSearchDisabled) {
          return Promise.resolve({ data: [], total: 0 })
        }

        if (!this.hasStillGroupsResult) {
          return Promise.resolve({ data: [], total: this.groupsCount })
        }

        const query = this.buildGroupSearchQuery()

        return searchGroups(query)
      },

      buildPages() {
        this.pages = []

        for (let i = 1; i <= this.maxPage; i++) {
          this.pages.push(i)
        }
      },

      scrollToResults() {
        const anchor = document.getElementById('results-anchor')
        if (anchor) anchor.scrollIntoView()
      },

      scrollToTop() {
        window.scrollTo(0, 0)
      },
      async findLocation(location: string): Promise<AutoCompleteLocation[]> {
        if (location === '') return Promise.resolve([])
        return (await searchLocations(location))?.data
      },
    },
  })
</script>
