<template>
  <div>
    <a
      v-if="type === 'group'"
      :href="actor.url"
      rel="nofollow noreferrer noopener"
      target="_blank"
      class="flex items-start gap-2 hover:underline"
      :title="linkTitle"
    >
      <img
        v-if="!avatarError"
        class="w-10 h-10 rounded-full shadow-lg"
        :src="avatarWithDefault"
        alt=""
        :class="{ account: isAccount }"
        @error="setAvatarError()"
      />

      <p class="flex flex-col text-ellipsis overflow-hidden">
        <strong>{{ actor.displayName }}</strong>

        <span class="actor-handle truncate">
          {{ actor.name }}@{{ actor.host }}
        </span>
      </p>
    </a>
    <div v-else class="flex items-start gap-2">
      <img
        v-if="!avatarError"
        class="w-10 h-10 rounded-full shadow-lg"
        :src="avatarWithDefault"
        alt=""
        :class="{ account: isAccount }"
        @error="setAvatarError()"
      />

      <p class="flex flex-col text-ellipsis overflow-hidden">
        <strong>{{ actor.displayName }}</strong>

        <span class="actor-handle truncate">
          {{ actor.name }}@{{ actor.host }}
        </span>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
  import { Actor } from '../../../server/types/actor.model'
  import { defineComponent, PropType } from 'vue'

  export default defineComponent({
    props: {
      actor: {
        type: Object as PropType<Actor>,
        required: true,
      },
      type: {
        type: String,
        required: true,
      },
    },

    data() {
      return {
        avatarError: false,
      }
    },

    computed: {
      linkTitle(): string | undefined {
        if (this.type === 'group') return this.$gettext('Go on this group page')
        return undefined
      },

      isAccount(): boolean {
        return this.type === 'account'
      },
      federatedUsername(): string {
        return `${this.actor.name}@${this.actor.host}`
      },
      avatarWithDefault(): string {
        return (
          this.actor.avatar ||
          `https://avatars.joinmobilizon.org/avatar.php?seed=${encodeURIComponent(
            this.federatedUsername
          )}`
        )
      },
    },

    methods: {
      setAvatarError() {
        this.avatarError = true
      },
    },
  })
</script>
