<template>
  <a
    :href="event.url"
    target="_blank"
    rel="noopener"
    class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row my-4 hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <img
      v-if="event.banner"
      class="object-contain h-48 w-80 rounded-t-lg md:h-48 md:w-80 md:rounded-none md:rounded-l-lg"
      :src="event.banner"
      alt=""
    />
    <img
      v-else
      class="object-contain h-48 w-80 rounded-t-lg md:h-48 md:w-80 md:rounded-none md:rounded-l-lg"
      src="/img/mobilizon_default_card.png"
      alt=""
    />

    <div class="flex self-start flex-col justify-between p-4 leading-normal">
      <span class="dark:text-white">{{ formatDateTime(event.startTime) }}</span>
      <h2
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ event.name }}
      </h2>

      <div class="pb-3 font-normal text-gray-700 dark:text-gray-400">
        <actor-miniature
          :type="isGroup ? 'group' : 'account'"
          :actor="isGroup ? event.group : event.creator"
        ></actor-miniature>

        <router-link
          :to="{
            ...$route,
            query: {
              ...$route.query,
              latlon: `${event.location.location.lat}:${event.location.location.lon}`,
              locationName: event.location.address.addressLocality,
            },
          }"
          v-if="event.location"
          class="flex gap-1 hover:underline"
          :title="
            $gettext('View more events near %{locality}', {
              locality: event.location.address.addressLocality,
            })
          "
        >
          <svg
            width="24"
            height="24"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="stroke-red-300 fill-transparent"
          >
            <path
              d="M20 10C20 14.4183 12 22 12 22C12 22 4 14.4183 4 10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10Z"
              stroke-width="1.5"
            />
            <path
              d="M12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10C11 10.5523 11.4477 11 12 11Z"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span
            v-if="
              event.location.name !== event.location.address.streetAddress &&
              event.location.name !== event.location.address.addressLocality
            "
          >
            {{ event.location.name }},
            {{ event.location.address.addressLocality }},
            {{ event.location.address.addressCountry }}
          </span>
          <span v-else>
            {{ event.location.address.addressLocality }},
            {{ event.location.address.addressCountry }}
          </span>
        </router-link>

        <div
          v-if="event.tags && event.tags.length !== 0"
          class="flex flex-wrap gap-y-2 mt-5"
        >
          <router-link
            v-for="tag in event.tags"
            :key="tag"
            :to="{
              ...$route,
              query: { ...$route.query, tagsOneOf: tag.substring(1) },
            }"
            class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800"
            >{{ tag }}</router-link
          >
        </div>
      </div>
    </div>
  </a>
</template>

<script lang="ts">
  import { defineComponent, PropType } from 'vue'
  import ActorMiniature from './ActorMiniature.vue'
  import { EnhancedEvent } from '../../../server/types/event.model'
  import { formatDateTime } from '@/shared/utils'

  export default defineComponent({
    components: {
      ActorMiniature,
    },

    props: {
      event: {
        type: Object as PropType<EnhancedEvent>,
        required: true,
      },
    },

    data() {
      return {
        thumbnailError: false,
      }
    },

    computed: {
      host(): string {
        const url = this.event.url

        return new URL(url as string).host
      },
      isGroup(): boolean {
        return (
          this.event.group && this.event.group.url !== this.event.creator.url
        )
      },
    },

    methods: {
      formatDateTime(dateTime) {
        return formatDateTime(new Date(dateTime), this.$dateFnsLocale)
      },
    },
  })
</script>
