<template>
  <footer class="pb-16 text-sm leading-6 dark:text-zinc-300">
    <div class="max-w-7xl mx-auto divide-y divide-slate-200 px-4 sm:px-6 md:px-8 dark:divide-slate-700">
    <!-- <div class="text-center">
      <div v-translate class="description">
        A free software to take back control of your event
      </div>
    </div> -->

    <div class="flex">
      <div class="flex-none w-1/2 space-y-10 sm:space-y-8 lg:flex lg:space-y-0">
        <div class="lg:flex-none lg:w-1/2">
          <h2 v-translate class="font-semibold">
            Getting started
          </h2>

          <ul>
            <li>
              <a v-translate target="_blank" href="https://joinpeertube.org/instances">Open an account</a>
            </li>
            <li>
              <a
                v-translate
                target="_blank"
                href=""
                >Create groups</a
              >
            </li>
          </ul>
        </div>
        <div class="lg:flex-none lg:w-1/2">
          <h2 v-translate class="font-semibold">
            Host it yourself
          </h2>

          <ul>
            <li>
                <a
                  v-translate
                  target="_blank"
                  href="https://docs.joinpeertube.org/#/install-any-os"
                  >Install Mobilizon</a
                >
            </li>
            <li>
                <a
                  v-translate
                  target="_blank"
                  href="https://joinpeertube.org#what-is-peertube"
                  >Why should I have my own Mobilizon website?</a
                >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex-none w-1/2 space-y-10 sm:space-y-8 lg:flex lg:space-y-0">
        <div class="lg:flex-none lg:w-1/2">
          <h2 v-translate class="font-semibold">
            Resources
          </h2>

          <ul>
            <li>
              <a v-translate target="_blank" href="https://joinmobilizon.org">Discover Mobilizon</a>
            </li>
          </ul>
        </div>
        <div class="lg:flex-none lg:w-1/2">
          <h2 v-translate class="font-semibold">
            Community
          </h2>

          <ul>
            <li>
                <a
                  v-translate
                  target="_blank"
                  href="https://docs.joinpeertube.org/#/install-any-os"
                  >Source code</a
                >
            </li>
            <li>
                <a
                  v-translate
                  target="_blank"
                  href="https://joinpeertube.org#what-is-peertube"
                  >Chat</a
                >
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </footer>
</template>

<script>
  import { defineComponent } from 'vue'
  import { getConfig } from '../shared/config'

  export default defineComponent({
    data() {
      return {
        legalNoticesUrl: '',
      }
    },

    async mounted() {
      const config = await getConfig()

      this.legalNoticesUrl = config.legalNoticesUrl
    },
  })
</script>
