<template>
  <a
    target="_blank"
    rel="nofollow noreferrer noopener"
    :href="group.url"
    :title="discoverGroupMessage"
    class="flex flex-col items-center bg-white rounded-lg border shadow-md md:flex-row my-4 hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <img
      v-if="group.avatar"
      class="p-4 object-cover h-40 w-40 rounded-full md:h-40 md:w-40"
      :src="group.avatar"
      alt=""
    />
    <img
      v-else
      class="p-4 object-cover h-40 w-40 rounded-full md:h-40 md:w-40"
      :src="`https://avatars.joinmobilizon.org/avatar.php?seed=${encodeURIComponent(
        federatedUsername
      )}`"
      alt=""
    />

    <div
      class="flex flex-col justify-between p-4 leading-normal text-ellipsis overflow-hidden"
    >
      <h2
        class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white line-clamp-3"
      >
        {{ group.displayName }}
      </h2>

      <p
        class="mb-2 text-gray-700 dark:text-gray-400 text-ellipsis overflow-hidden max-w-xs lg:max-w-lg xl:max-w-xl"
      >
        {{ federatedUsername }}
      </p>
      <router-link
        :to="{
          ...$route,
          query: {
            ...$route.query,
            latlon: `${group.location.location.lat}:${group.location.location.lon}`,
            locationName: group.location.address.addressLocality,
          },
        }"
        v-if="group.location"
        :title="
          $gettext('View more groups near %{locality}', {
            locality: group.location.address.addressLocality,
          })
        "
        class="flex gap-1 text-gray-700 dark:text-gray-400 hover:underline"
      >
        <svg
          width="24"
          height="24"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="stroke-red-300 fill-transparent"
        >
          <path
            d="M20 10C20 14.4183 12 22 12 22C12 22 4 14.4183 4 10C4 5.58172 7.58172 2 12 2C16.4183 2 20 5.58172 20 10Z"
            stroke-width="1.5"
          />
          <path
            d="M12 11C12.5523 11 13 10.5523 13 10C13 9.44772 12.5523 9 12 9C11.4477 9 11 9.44772 11 10C11 10.5523 11.4477 11 12 11Z"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <span
          v-if="
            group.location.name !== group.location.address.streetAddress &&
            group.location.name !== group.location.address.addressLocality
          "
        >
          {{ group.location.name }},
          {{ group.location.address.addressLocality }},
          {{ group.location.address.addressCountry }}
        </span>
        <span v-else>
          {{ group.location.address.addressLocality }},
          {{ group.location.address.addressCountry }}
        </span>
      </router-link>
      <!-- eslint-disable-next-line vue/no-v-html -->
      <div
        class="mb-3 line-clamp-3 font-normal text-gray-700 dark:text-gray-400"
        v-html="group.description"
      />
    </div>
  </a>
</template>

<script lang="ts">
  import { Group } from '../../../server/types/group.model'
  import { defineComponent, PropType } from 'vue'

  export default defineComponent({
    props: {
      group: {
        type: Object as PropType<Group>,
        required: true,
      },
    },

    computed: {
      host(): string {
        const url = this.group.url

        return new URL(url as string).host
      },

      federatedUsername(): string {
        return `${this.group.name}@${this.host}`
      },

      discoverGroupMessage(): string {
        return this.$gettextInterpolate(
          this.$gettext('Discover this group on %{host}'),
          { host: this.host }
        )
      },
    },
  })
</script>
