<template>
    <header class="relative text-center text-gray-700 dark:text-slate-100" :class="{'mb-80': !smallFormat}">
      <interface-language-dropdown />

      <h1 class="text-black dark:text-slate-100">
        <span v-if="configLoaded && !titleImageUrl" class="text-5xl">{{ indexName }}</span>

        <img v-if="configLoaded && titleImageUrl" class="title-image" :src="titleImageUrl" :alt="indexName" />
      </h1>

      <template v-if="!smallFormat">
        <h4>
          <div v-translate>
            A search engine of
            <a class="font-bold underline" href="https://joinmobilizon.org" target="_blank">Mobilizon</a>
            events and groups
          </div>

          <div v-translate>
            Developed by
            <a class="font-bold underline" href="https://framasoft.org" target="_blank"><span class="text-frama-violet">Frama</span><span class="text-frama-orange">soft</span></a>
          </div>
        </h4>

        <!-- <div class="search-home">
          <img v-if="searchImageUrl" :src="searchImageUrl" alt="" />
        </div> -->
      </template>
    </header>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'
  import { getConfig } from '../shared/config'
  import { buildApiUrl } from '../shared/utils'
  import InterfaceLanguageDropdown from './InterfaceLanguageDropdown.vue'

  export default defineComponent({
    components: {
      'interface-language-dropdown': InterfaceLanguageDropdown,
    },

    props: {
      indexName: {
        type: String,
        required: true,
      },
      smallFormat: {
        type: Boolean,
        required: true,
      },
    },

    data() {
      return {
        configLoaded: false,
        titleImageUrl: '',
        searchImageUrl: '',
      }
    },

    async mounted() {
      const config = await getConfig()

      this.titleImageUrl = config.searchInstanceNameImage
        ? buildApiUrl(config.searchInstanceNameImage)
        : ''

      this.searchImageUrl = config.searchInstanceSearchImage
        ? buildApiUrl(config.searchInstanceSearchImage)
        : buildApiUrl('/img/search-home.png')

      this.configLoaded = true
    },
  })
</script>
