<template>
  <div class="dark:text-zinc-300">
    <router-link
      class="dark:text-zinc-300"
      :class="{ 'none-opacity': currentPage === 1 }"
      :to="{ query: buildPageUrlQuery(currentPage - 1) }"
    >
      <translate>Previous page</translate>
    </router-link>

    <div class="pages">
      <!-- eslint-disable-next-line vue/no-v-for-template-key -->
      <template v-for="page in pages" :key="page">
        <router-link
          v-if="page !== currentPage"
          class="go-to-page"
          :to="{ query: buildPageUrlQuery(page) }"
        >
          {{ page }}
        </router-link>

        <div v-else class="current">{{ page }}</div>
      </template>
    </div>

    <router-link
      class="dark:text-zinc-300"
      :class="{ 'none-opacity': currentPage >= maxPage }"
      :to="{ query: buildPageUrlQuery(+currentPage + 1) }"
    >
      <translate>Next page</translate>
    </router-link>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'

  export default defineComponent({
    props: {
      maxPage: {
        type: Number,
        required: true,
      },
      currentPage: {
        type: Number,
        required: true,
      },
      pages: {
        type: Array as () => number[],
        required: true,
      },
    },

    methods: {
      buildPageUrlQuery(page: number) {
        const query = this.$route.query

        return Object.assign({}, query, { page })
      },
    },
  })
</script>
