<template>
  <div
    class="flex gap-4 p-4 my-4 text-sm text-yellow-700 bg-yellow-100 rounded-lg dark:bg-yellow-200 dark:text-yellow-800"
    :class="{ highlight: highlight }"
    role="alert"
  >
    <translate class="text-base">
      <strong>%{indexName}</strong> displays events and groups that match your
      search but is not the publisher, nor the owner. If you notice any problems
      with an event, report it to the administrators on the Mobilizon website
      where the event is published.
    </translate>
  </div>
</template>

<script lang="ts">
  import { defineComponent } from 'vue'

  export default defineComponent({
    props: {
      indexName: {
        type: String,
        required: true,
      },
      highlight: Boolean,
    },
  })
</script>
