$font-semibold: 600;

$orange: #f67e08;
$orange-darken: #f1680d;
$orange-lighten: #fff8f0;
$grey: #858383;
$brown: #5e4f3a;

$responsive-screen: 992px;
$small-screen: 700px;

$primary: $orange;
$secondary: $grey;

$thumbnail-width: 280px;
$thumbnail-height: 153px;

$small-font-size: 12px;

$container-width: 1024px;
$small-view: 900px;

$input-height: 30px;
