@import '_variables';

.ti-tag {
  background: $orange-darken !important;
}

.vue-tags-input .ti-input {
    border-color: #6b7280 !important;
    border-width: 1px !important;
    border-radius: 0px !important;
    border-style: solid !important;
}

ul.ti-tags li.ti-new-tag-input-wrapper {
  padding: 0;
  margin: 0;

  input.ti-new-tag-input {
    appearance: none;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
    box-sizing: border-box;
  }
}